body {
    font-family: "pragmatica",sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.compare {
  font-size: 1em;
}

div#compare-menu {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.compare-spacer {
  display: inline-block;
}
.compare-dropdown {
  display: inline-block;
  background: #ffffff;
  width: 15em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  border-radius: 5px;
}
#compare-left-dropdown {
  left: -16em;
}
#compare-right-dropdown {
  left: 3em;
}
.compare-header {
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid black;
  background-color: #f0f0f0;
}
.compare-dropdown li.compare-header:hover {
  background-color: #f0f0f0;
}
.compare-dropdown li {
  display: block;
  margin: 0;
}
.compare-dropdown li:hover {
  display: block;
  margin: 0;
  background-color: #ffa040;
}
.compare-dropdown ul {
  border-radius: 5px;
  border-top: 1px solid black;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
html { 
  height: 100%;
}
a {
    text-decoration: none;
}
ul.layerlist {
    font-size: 0.8em;
    vertical-align: middle;
}
.layer-switcher li.group > label {
    font-weight: 400;
}
.layer-switcher li.layer label, .layer-switcher li.layer input {
    vertical-align: middle;
}
#map {
    min-height: 0;
    padding: 0;
    flex: 1;
    flex-grow: 1;
}
#map-container {
    display: flex;
    padding: 0;
    height: 100%;
    flex: 1;
}
#foot {
    font-size: .8em;
    margin-top: 1em;
}

.layer-switcher {
    font-size: 0.8em;
    top: 0.5em;
}
.ol-swipe {
  top: 10%;
}
#sidebar {
  border: 1px solid black;
  border-top: none;
  border-collapse: collapse;
  background-color: #f0f0ff;
  font-size: 1em;
  padding-top: 1em;
  width: 25em;
  flex: 1;
  flex-basis: 15em;
  flex-grow: 0;
  flex-direction: column;
  display: flex;
}
div#head {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0 0 0 1em;
}
#head h1 {
  padding: 0.25em 0 0.25em 0;
  font-weight: 200;
  margin: 0;
}
#sidebar #logo {
  padding: 1em;
}
#sidebar #switcher {
  overflow-y: scroll;
  flex-grow: 1;
}
img#logo-image {
  width: 71px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#switcher ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 10px;
}

div#mobileswitcher {
  display: none;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  div#mobileswitcher {
    display: inherit;
    font-size: 20px !important;
  }

  .compare {
    font-size: 1.3em;
  }

  #sidebar {
    display: none;
    background-color: #fff0f0;
  }
}
