body {
    font-family: "pragmatica",sans-serif;
    font-weight: 200;
}
a {
    text-decoration: none;
}
ul.layerlist {
    font-size: 0.8em;
    vertical-align: middle;
}
.layer-switcher li.group > label {
    font-weight: 400;
}
.layer-switcher li.layer label, .layer-switcher li.layer input {
    vertical-align: middle;
}
#map {
    height: 800px;
    padding: 0;
}
#head h1 {
    padding: 0;
    margin: 0;
    font-weight: 400;
}
#head h4 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 200;
    font-style: italic;
}
#head {
    padding-top: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
}
#map-container {
    border: 1px solid #c0c0c0;
    padding: 0;
}
#foot {
    font-size: .8em;
    margin-top: 1em;
}

.layer-switcher {
    font-size: 0.8em;
    top: 0.5em;
}
