<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Local Situation Maps - Háfjall ehf.</title>
    <link rel="stylesheet" href="https://use.typekit.net/twd0ihj.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="/node_modules/ol/ol.css" type="text/css">
    <link rel="stylesheet" href="/css/ol-layerswitcher.css" type="text/css">
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"   integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="   crossorigin="anonymous"></script> -->
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script> 
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="/dist/main.js"></script>
    <script src="/js/progress.js"></script>
    <link rel="stylesheet" href="/site.css" type="text/css">
    <style>
      #progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height:15px;
      background: rgba(0, 60, 136, 0.4);
      width: 0;
      transition: width 250ms;
      }
    </style>
  </head>
  <body>
    <div id="head"><h1><%= title %></h1></div>
    <div id="map-container">
      <div id="map" class="map"></div>
      <div id="sidebar"><div id="switcher"></div><div id="logo"><img id="logo-image" src="/media/stepman_logo.png" />Mapping & code by <a href="https://www.stepman.is/">stepman</a>. Check us out on <a href="https://www.instagram.com/stepman/">Instagram</a>!</div></div>
      <div id="progress"></div>
    </div>
  <script>
  $(function() {
    stepman.Builder('/<%= mapDef %>');
  });
  </script>
  </body>
  </html>
